<div class="d-flex">
  <!-- Init Sidebar -->
  <div class="bg-dark border-right p-3" id="sidebar">
    <h3 class="text-light">Gifs App</h3>
    <hr class="text-white">
    <div class="list-group list-reset">
      <a class="list-group-item list-group-item-action" href="#">Dashboard</a>
    </div>
  </div>
  <!-- End Sidebar -->

  <div class="container">
    <div class="row p-3">
      <div class="col">
        <h5>Buscar:</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs">
      </div>
    </div>
          <hr/>

    <div class="row">
      <div class="col">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Atque eius hic accusantium in dolor. Alias voluptates molestiae repellendus incidunt, quibusdam velit pariatur perferendis dicta cupiditate veritatis distinctio dolor similique laudantium.
        Molestias voluptate obcaecati, aliquam earum iusto officiis eveniet temporibus, ex ipsa laborum officia aut perferendis dolore consectetur explicabo ad voluptas soluta, fugit optio pariatur sint ab libero doloribus! Officia, nam?
      </div>
    </div>

  </div>
</div>